/* .button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.button.clear {
  background-color: #ff5252;
  color: white;
}

.button.operator {
  background-color: #ffeb3b;
}

.button.equal {
  background-color: #4caf50;
  color: white;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.button {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.8;
  animation: fadeIn 0.5s ease-in;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.button:hover {
  opacity: 1;
}

.button:active {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.button.clear {
  background-color: #ff5252;
  color: white;
}

.button.operator {
  background-color: #ffeb3b;
}

.button.equal {
  background-color: #4caf50;
  color: white;
}
